/*TO DO:
    - Fix profile links so they don't go outside of the div when you zoom in
    - Add link to email icon
    - Make arrows stay in place
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #f0fcfd;
}

/*General text styling*/
p {
    font-family: 'Montserrat', sans-serif;
    color: black; 
}

/*Navbar styling*/
#logo {
    width:fit-content;
    height: 10vh;
    padding-right: 1rem;
}

#nameAndLogo {
    display: flex;
    justify-content: flex-start;
}

header h1, a {
    font-family: 'Montserrat', sans-serif;
    color: #42426f;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 1rem;
}

.nav-links li a:hover {
    color:rgba(66, 66, 111, 0.5);
}
/*end of navbar styling*/


/*main page styling*/
#home {
    height: fit-content;
}
/*end of main page styling*/


/*cursor animation*/
#cursorText {
    border-right: solid 0.275rem rgba(66, 66, 111, 1);
    white-space: nowrap;
    overflow: hidden;    
    font-family: 'Montserrat', sans-serif;    
    font-size: 3rem;
    color: rgba(66, 66, 111);
    margin: 8rem auto;
  }
  
  #cursorText {
    animation: animated-text 2s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
  }
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 18rem;}
  }
  
  @keyframes animated-cursor{
    from{border-right-color: rgba(225, 193, 203, 1);}
    to{border-right-color: transparent;}
  }
/*end of cursor animation*/


/*Profile links styling*/
.profileLinks {
    display: flex;
    justify-content: space-evenly;
}

.profileLinks a img:hover {
    opacity: 0.6;
}
/*end of profile links styling*/


/*Scroll down arrow animation*/
.arrow-down{
    display: flex;
    justify-content: center;
    width:3rem;
    height: 2rem;
    margin:0 0 0 -1.5rem;
    position:absolute;
    left:50%;
    bottom:0;
    -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;
    
  }
  
  .arrow-down:hover{
     -webkit-animation-play-state: paused;
  }
  
  .left{
    position:absolute;
    height: 0.5rem;
    width:2rem;
    background: #42426f;
    -webkit-transform:rotate(240deg);
    top: 0.5rem;
    left: 0.5rem;
    -webkit-border-radius: 0.2rem;
    -webkit-transform-origin: 0.25rem 50%;
    -webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
  }
  
  .right{
    position:absolute;
    height: 0.5rem;
    width: 2rem;
    background: #42426f;
    -webkit-transform:rotate(-60deg);
    top:0.5rem;
    left:0.5rem;
    -webkit-border-radius: 0.2rem;
    -webkit-transform-origin: 0.25rem 50%;
    -webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
  }
  
  @keyframes arrow{
    0% {
      bottom:0;
    }
    100%{
      bottom:2rem;
    }
  }
  
  @keyframes leftArrow{
    0% {
    }
    100%{
      -webkit-transform:rotate(225deg);
    }
  }
  
  @keyframes rightArrow{
    0% {
    }
    100%{
      -webkit-transform:rotate(-45deg);
    }
  }
/*end of scroll down arrow animation*/


/*About me styling*/
@media (max-width: 1000px) {
    #aboutMe div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #aboutMe img {
        margin-left: 10%;
    }
}
#aboutMe {
    background-color: #fdf1f0;
    font-family: 'Montserrat', sans-serif;
    height: fit-content;
}

#aboutMe h1 {
    font-size: 3rem;
    padding-top: 10%;
    padding-left: 15%;
}

#aboutMe p {
    font-size: 1.2rem;
    padding-left: 15%;
    padding-right: 10%;
}

#aboutMe img {
        border-radius: 5%;
        height: 25rem;
        width: auto;
        margin-right: 10%;
 }

#aboutMe div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10%;
}
/*end of about me styling*/


/*Project section styling*/
#projects {
    font-family: 'Montserrat', sans-serif;
    height: fit-content;
}

#projects h1 {
    font-size: 3rem;
    padding-top: 5%;
    padding-left: 15%;
}

#projectContainer {
    margin: 5% 15% 0% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projectDescription {
    font-size: 1.5rem;
    margin-right: 3rem;
}

.projectLinks {
    display: flex;
    justify-content: space-evenly;
    margin-right: 2rem;
    margin-top: 3rem;
    font-size: 1.5rem;
}

.projectImage {
    width: 30rem;
    height: auto;
    border-radius: 5%;
}

@media (max-width: 1200px) {
    #projectContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10%;
    }

    .projectDescription {
        font-size: 1.2rem;
        margin-right: 0rem;
    }

    .projectLinks {
        margin-right: 0;
    }

    .projectImage {
        width: 28rem;
        height: auto;
        margin-top: 2rem;
    }
}

@media (max-width: 700px) {
    .projectImage {
        width: 20rem;
        height: auto;
        margin-top: 2rem;
    }
}

#arrows {
    display: flex;
    justify-content: space-evenly;
    margin-top: 7rem;
    margin-bottom: 4rem;
}

#backArrow {
    width: 3rem;
    height: auto;
    opacity: 0.8;
}

#backArrow:hover {
    cursor: pointer;
    opacity: 0.5;
}

#nextArrow {
    width: 3rem;
    height: auto;
    opacity: 0.8;
}

#nextArrow:hover {
    cursor: pointer;
    opacity: 0.5;
}
/*end of project section styling*/


/*Contact me styling*/
#contactMe {
    background-color: #fdf1f0;
    font-family: 'Montserrat', sans-serif;
    height: fit-content;
}

#contactMe h1 {
    font-size: 3rem;
    padding-top: 10%;
    padding-left: 15%;
}

form {
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10%;
}

@media (max-width: 1000px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0;
        padding-left: 0;
    }
}

#leftForm {
    display: flex;
    flex-direction: column;
    width: 47%;
}

#name, #email, #subject {
    width: 100%;
    height: 2rem;
    margin-bottom: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    padding: 0.5rem;
}

#rightForm {
    display: flex;
    flex-direction: column;
    width: 47%;
    align-items: flex-end;
}

#message {
    width: 100%;
    height: 9rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    padding: 0.5rem;
}

#sendMessage {
    width: 10rem;
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    padding: 0.8rem;
}
/*end of contact me styling*/


/*Background Animation*/
/*
.circles{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(66, 66, 111, 0.7);
    animation: animate 50s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 40s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 80%;
    }
}
*/
/*end of background animation*/
